/******************** CLASSES *******************/
.clear{ clear: both; overflow:hidden;}
.altrow{ background: #f3f3f3; }
.small{ font-size: 0.8em;}
.float-right{position: relative; float: right;}
.float-left{position: relative; float: left;}
.separator{clear:both; height:1px; width:100%; border-bottom: 1px dotted silver; margin-bottom: 10px;}
.loading-bg{background: white url('../img/loading.gif') no-repeat 50% 50%; }

/******************** GENERAL *******************/
* { z-index: 50; }
html, body {
  background-color: #eee;
}
body {
  padding-top: 80px; /* 80px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}


.topbar .fill{
    height: 80px;
}
.topbar .fill .container{
    padding: 20px 0;
}

/******************** HEADER  *******************/
#header{
    width: 100%;
    margin: 0 auto; position:relative;
    background: #333; color: #fff;
    overflow:hidden;
}
#header h1{
    padding-top: 30px;
    letter-spacing:8px;
    font-size:30px;
    margin-bottom:10px;
}

#header #user-menu{
    margin-top:10px;
    font-size:11px;
    text-align: right;
}
/******************** MENU  *******************/
/*
#menu{
    margin-top:20px;
    margin-bottom:20px;
}
#menu li{
    float:right;
}
*/
#menu a{
    position: relative;
}

#menu .home-menu:hover{color: #4FB0FE;}
#home .home-menu, #home .home-menu:hover{background: #4FB0FE; color:#333;}

#menu .messages-menu:hover{color: #6AF1D0}
#messages .messages-menu, #messages .messages-menu:hover{background: #6AF1D0; color:#333;}

#menu .todos-menu:hover{color: #52EE2F;}
#todos .todos-menu, #todos .todos-menu:hover{background: #52EE2F; color:#333;}

#menu .milestones-menu:hover{color: #FFF231;}
#milestones .milestones-menu, #milestones .milestones-menu:hover{background: #FFF231; color:#333;}

#menu .links-menu:hover{color: #FF8700;}
#links .links-menu, #links .links-menu:hover{background: #FF8700; color:#333;}

#menu .new-items{
    margin: -10px 0 0 5px;
    display: block;
    float:right;
    background-color: #444;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
#menu a:hover .new-items{color: #fff;}

/******************** CONTENT  *******************/
#content{
    overflow: hidden;
    margin: 20px auto; position:relative;
}
/******************** MAIN  *******************/
#content #main{
}
/******************** SIDEBAR  *******************/
#sidebar{
}
#sidebar ul{
    background: white;
    border-radius: 3px;
    margin-left: 0;
}
#sidebar ul li{
    position: relative;
    list-style: none;
}
#sidebar ul li a{ 
    line-height: 28px;
    display:block;
    color:#444;
    padding: 0 42px 0 10px;
}
#sidebar ul li a:hover{ 
    color: #000;
}
#sidebar ul ul{
    background: #333;
    border-radius: 0px; 
    border: none;
    display: none;
}
#sidebar ul ul li a{ 
    line-height: 28px;
    display:block;
    color: #A0A0A0;
    font-size:12px;
    padding: 0 10px;
}
#sidebar ul ul li a:hover{ 
    color: #fff;
}
#home .home-menu ul,
#links .links-menu ul,
#milestones .milestones-menu ul,
#todos .todos-menu ul,
#messages .messages-menu ul
{display: block;}

.toggle-submenu{
    position:absolute;
    top:0; right:0;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: transparent url('../images/35.png') no-repeat center center;
    opacity: 0.3;
}
.toggle-submenu:hover{
    color: #000;
}

/******************** MESSAGES  *******************/
.message{
    background: white;
    border: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    margin-bottom:10px;
}
.message .title{
    overflow: hidden;
    margin-bottom: 10px;
}
.message .title img {
    border: 1px solid #ccc;
    float: left;
    height: 48px;
    margin-right: 10px;
    position: relative;
    width: 48px;
    border-radius: 2px;
}
.message h3{
    margin-top: 0;
    line-height: 1.2em;
}
.message .date, .message .info{
    color:#999;
    font-size: 0.8em;
}
.message .message-text{
    border-bottom: 1px silver;
}
.message .info{
    color:#999;
    font-size: 0.9em;
}
.message .message{
    margin: 15px 0 0 20px;
}
.even{
    background: #f4f4f4;
}

.toolbar{
    padding-bottom: 15px;
}
.toolbar .btn{
    padding: 3px 8px 4px;
}
/******************** FOOTER  *******************/
table{
    width:100%;
}
th{
    text-align: left;
    border-bottom: 1px solid #333;
}
td, th{
    padding: 5px 10px;
}

.p-high{color:#FF0042;}
.p-medium{color:#FFBD44;}
.p-low{color:#41DF00;}

/******************** FOOTER  *******************/
#footer{
    color: #A0A0A0;
    border-top: 1px dotted #A0A0A0;
    width:960px; overflow: hidden;
    padding: 20px 0; position:relative;
    margin: 0 auto; 
    background: transparent; 
    font-size:11px;
}