html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {line-height: 1;}
ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
h1, h2, h3, h4, h5, h6{margin:0 0 0.5em 0; font-weight:normal; color:#545454; /* font-style: Arial, Tahoma, "Trebuchet MS" */}
h1{font-size:1.7em; color: white;}
h2{font-size:1.15em; font-weight:bold;}
h3{font-size:1em; font-weight:bold;}
h3{font-size:1em; font-weight:bold;}
h3{font-size:1em;}
h6{font-size:1em;}
p{line-height:1.4em; text-align: justify; margin: 10px 0; }
a, a:link, a:active, a:visited { text-decoration:none; color:#EC307B; font-weight: normal; font-size:1.03em}
a:hover{color: #B11352;}

/******************** CLASSES *******************/
.clear{ clear: both; overflow:hidden;}
.altrow{ background: #f3f3f3; }
.small{ font-size: 0.8em;}
.float-right{position: relative; float: right;}
.float-left{position: relative; float: left;}
.separator{clear:both; height:1px; width:100%; border-bottom: 1px dotted silver;}
.loading-bg{background: white url('../img/loading.gif') no-repeat 50% 50%; }
.overflow-hidden{overflow: hidden;}

/******************** GENERAL *******************/
body{
 	font-size: 13px;
 	color: #888;
    background: white url('../img/bg.png') repeat-x;
}
* { z-index: 50; font-family: helvetica, Arial, freesans, Tahoma, "Trebuchet MS"; }
/******************** COLUMNS  *******************/


/******************** HEADER  *******************/
#header{
    width: 100%;
    margin: 0 auto; position:relative;
    background: #333; color: #fff;
    overflow:hidden;
}
#header h1{
    padding-top: 30px;
    letter-spacing:8px;
    font-size:30px;
    margin-bottom:10px;
}

#header #user-menu{
    margin-top:10px;
    font-size:11px;
    text-align: right;
}
/******************** MENU  *******************/
#menu{
    margin-top:20px;
    margin-bottom:20px;
}
#menu li{
    float:right;
}
#menu a{
    display:block;
    padding: 6px 10px;
    border-radius: 2px;
    /* background: #4FB0FE; */
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-transform: lowercase;
}
#menu .home-menu:hover{color: #4FB0FE;}
#home .home-menu, #home .home-menu:hover{background: #4FB0FE; color:#333;}

#menu .messages-menu:hover{color: #6AF1D0}
#messages .messages-menu, #messages .messages-menu:hover{background: #6AF1D0; color:#333;}

#menu .todos-menu:hover{color: #52EE2F;}
#todos .todos-menu, #todos .todos-menu:hover{background: #52EE2F; color:#333;}

#menu .milestones-menu:hover{color: #FFF231;}
#milestones .milestones-menu, #milestones .milestones-menu:hover{background: #FFF231; color:#333;}

#menu .links-menu:hover{color: #FF8700;}
#links .links-menu, #links .links-menu:hover{background: #FF8700; color:#333;}

/******************** CONTENT  *******************/
#content{
    overflow: hidden;
    margin: 20px auto; position:relative;
}
/******************** SIDEBAR  *******************/
#sidebar{
}
#sidebar ul{
    background: white;
    border-radius: 3px; 
}
#sidebar ul li{
    position: relative;
}
#sidebar ul li a{ 
    padding: 6px 10px;
    display:block;
    color:#444;
}
#sidebar ul li a:hover{ 
    color: #000;
}
#sidebar ul ul{
    background: #333;
    border-radius: 0px; 
    border: none;
    display: none;
}
#sidebar ul ul li a{ 
    padding: 4px 10px;
    display:block;
    color: #A0A0A0;
    font-size:12px;
}
#sidebar ul ul li a:hover{ 
    color: #fff;
}
#home .home-menu ul,
#links .links-menu ul,
#milestones .milestones-menu ul,
#todos .todos-menu ul,
#messages .messages-menu ul
{display: block;}

.toggle-submenu{
    position:absolute;
    top:0; right:0;
    cursor: pointer; 
    padding:6px 10px;
}
.toggle-submenu:hover{
    color: #000;
}

/******************** MESSAGES  *******************/
.message{
    background: white;
    border-radius: 3px; 
    border: 1px solid silver;
    padding: 10px;
    margin-bottom:10px;
}
.message .title h3{
    margin-top:0;
}
.message .date, .message .info{
    color:#999;
    font-size: 0.8em;
}
.message .message-text{
    border-bottom: 1px silver;
}
.message .info{
    color:#999;
    font-size: 0.9em;
}
.message .message{
    margin: 15px 0 0 20px;
}
.even{
    background: #f4f4f4;
}
/******************** FORMS  *******************/
fieldset{
    background: white;
    border-radius: 3px; 
    border: 1px solid silver;
    padding: 10px;
    margin-bottom:10px;
}
legend{
    padding: 0 5px;
    font-weight: bold;
}
label{
    display:block;
    font-weight: bold;
}
input[type="text"], input[type="password"], textarea, select {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 13px;
    padding: 6px;
    position: relative;
    width: 400px;
    margin: 3px 0 10px 0;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border-color:#EC307B;
}
.short{
    width:150px;
    float:left;
    margin-right:10px;
}
input[type="radio"], input[type="checkbox"]{
    float: left;
    margin: 8px 8px 0 8px;
    clear: left;
}
.radio{
    padding: 8px 0 0 0;
    clear: right;
    font-weight: normal;
}
div.form-div{
    overflow: hidden;
    margin-bottom: 10px;
}
input[type="submit"], input[type="button"], input[type="reset"]{
    border: 1px solid #EC307B;
    border-radius: 3px;
    padding: 6px 8px;
    font-size: 14px;
    margin: 3px 10px 0 0;
    color: #fff;
    background: #EE5995;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{
    background: #EC307B;
}
input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active{
    background: #C72D6B;
}
/******************** FOOTER  *******************/
table{
    width:100%;
}
th{
    text-align: left;
    border-bottom: 1px solid #333;
}
td, th{
    padding: 5px 10px;
}

.p-high{color:#FF0042;}
.p-medium{color:#FFBD44;}
.p-low{color:#41DF00;}

/******************** FOOTER  *******************/
#footer{
    color: #A0A0A0;
    border-top: 1px dotted #A0A0A0;
    width:960px; overflow: hidden;
    padding: 20px 0; position:relative;
    margin: 0 auto; 
    background: transparent; 
    font-size:11px;
}
