        <div class="toolbar">
          <a class="btn">New</a>
          <a class="btn">Messages</a>
          <a class="btn">&laquo; Previous</a>
          <a class="btn">Next &raquo;</a>
        </div>


<div class="well message">
    <div class="title">
        <a href="#"><img src="/images/stanko.png"/></a>
        <h3>That's what she said</h3>
        <div class="date">13. January 2011. 11:05</div>
    </div>
    <div class="message-text">
        <p>
            "I do not believe you," she said, "for if you meant it you would have done this when the others were present
            to witness it&mdash;then I should truly have been your mate; now there is no one to see you do it, for you know
            that without witnesses your act does not bind you to me," and she withdrew her hand from mine and turned away.
        </p>
        <p>
            I tried to convince her that I was sincere, but she simply couldn't forget the
            humiliation that I had put upon her on that other occasion.
        </p>
        <p>
            "If you mean all that you say you will have ample chance to prove it," she said,
            "if Jubal does not catch and kill you.  I am in your power, and the treatment you accord me will be
            the best proof of your intentions toward me.  I am not your mate, and again I tell you that I hate you,
            and that I should be glad if I never saw you again."
        </p>
    </div>

    <div class="info">
        Posted by <a href="#">Stanko</a> in <a href="#">Frontend</a>, <a href="#">Javascript</a> | <a href="#">Edit</a> | <a href="#">Reply</a>
    </div>

    <div class="well message even">
        <div class="title">
            <a href="#"><img src="/images/logo.png"/></a>
            <h3>Re: That's what she said</h3>
            <div class="date">13. January 2011. 12:05</div>
        </div>
        <div class="message-text">
            <p>
                "If you mean all that you say you will have ample chance to prove it," she said,
                "if Jubal does not catch and kill you.  I am in your power, and the treatment you accord me will be
                the best proof of your intentions toward me.  I am not your mate, and again I tell you that I hate you,
                and that I should be glad if I never saw you again."
            </p>
        </div>
        <div class="info">
            Posted by <a href="#">Sale</a> | <a href="#">Reply</a>
        </div>
    </div>
</div>
<div class="well message even">
    <div class="title">
        <a href="#"><img src="/images/stanko.png"/></a>
        <h3>Re: That's what she said</h3>
        <div class="date">13. January 2011. 12:05</div>
    </div>
    <div class="message-text">
        <p>

            "If you mean all that you say you will have ample chance to prove it," she said,
            "if Jubal does not catch and kill you.  I am in your power, and the treatment you accord me will be
            the best proof of your intentions toward me.  I am not your mate, and again I tell you that I hate you,
            and that I should be glad if I never saw you again."
        </p>
    </div>
    <div class="info">
        Posted by <a href="#">Sale</a> | <a href="#">Reply</a>
    </div>
</div>

<h3>Reply</h3>

<form class="form-stacked" action="">
  <div class="well message">
    <div class="title">
        <a href="#"><img src="/images/stanko.png"/></a>
        <h3>Re: That's what she said</h3>
        <div class="date">13. January 2011. 12:05</div>
    </div>
    <fieldset>
        <div class="toolbar">
          <a class="btn"><b>Bold</b></a>
          <a class="btn"><i>Italic</i></a>
          <a class="btn">Bullets</a>
          <a class="btn">Numbering</a>
          <a class="btn">Link</a>
        </div>
        <div class="clearfix">
            <div class="input">
                <textarea name="xlInput3" id="xlInput3" placeholder="Type your reply..." class="span14"></textarea>
            </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
            <div class="input">
                <ul class="inputs-list">
                    <li>
                        <label>
                            <input type="checkbox" value="option1" name="optionsCheckboxes">
                            <span>Get email notification</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div><!-- /clearfix -->
    </fieldset>
    <button class="btn primary" type="submit">Send</button>
    <button class="btn" type="reset">Cancel</button>
    </div>
</form>