
<div class="tags clear">
    <div class="label">JavaScript</div> 
    <div class="label">JQuery</div> 
    <div class="label">Rails</div> 
    <div class="label">Compiling</div> 
    <div class="label notice">Design</div> 
    <div class="label notice">Photoshop</div> 
    <div class="label notice">Wireframes</div> 
    <div class="label notice">Front-end</div> 
    <div class="label success">Stanko T.</div> 
    <div class="label success">Sasa R.</div> 
    <div class="label success">Nikola T.</div> 
    <div class="label success">Ognjen Vuk P.</div> 
</div>