<div class="page-header">
    <h1>Fix this please <small>in progress <span class="label success">new</span></small></h1>

</div>
<ul class="breadcrumb">
    <li><%= link_to 'Home', '/' %> <span class="divider">&raquo;</span></li>
    <li><a href="">Tasks</a> <span class="divider">&raquo;</span></li>
    <li class="active">Fix this please</li>
</ul>

<div class="row">
	<div class="span11">
		<div>	    
		    <h3>Description</h3>
		    
			<p>
			    <span class="label success">teamate</span>
			    <span class="label warning">frontend</span>
		    	<span class="label notice">javascript</span>
		    	<span class="label important">high priority</span>
		    </p>
		    
	        <p>
	            "I do not believe you," she said, "for if you meant it you would have done this when the others were present 
	            to witness it&mdash;then I should truly have been your mate; now there is no one to see you do it, for you know 
	            that without witnesses your act does not bind you to me," and she withdrew her hand from mine and turned away.
	        </p>
	        <p>
	            I tried to convince her that I was sincere, but she simply couldn't forget the 
	            humiliation that I had put upon her on that other occasion.
	        </p>
		</div>
	</div>
	<div class="span5">
		<h3>People</h3>
		<p>
		Created by: <a href="#">Stanko T.</a><br/>
		Owned by: <a href="#">Nikola T	.</a>
		</p>
		
		<div class="underlined"></div>
		
		<h3>Dates</h3>
		<p>
		Created: 15.11.2011. at 12:01<br/>
		Updated: 15.11.2011. at 14:32
		</p>
		
		<div class="underlined"></div>
		
		<h3>Time tracking</h3>
		<img src="/images/time.png"/>
	</div>
	
</div>

<ul class="tabs" data-tabs="tabs">
	<li class="active"><a href="#taskMessages">Conversation</a></li>
	<li><a href="#taskTimeLog">Time log</a></li>
	<li><a href="#">Files</a></li>
</ul>

<div id="my-tab-content" class="tab-content">
	<div id="taskMessages" class="active">
		<div class="message">
		    <div class="title">
		        <a href="#"><img src="/images/home-icons/track.png"/></a>
		        <h3>That's what she said</h3>
		        <div class="date">13. January 2011. 11:05</div>
		    </div>
		    <div class="message-text">
		        <p>
		            "I do not believe you," she said, "for if you meant it you would have done this when the others were present 
		            to witness it&mdash;then I should truly have been your mate; now there is no one to see you do it, for you know 
		            that without witnesses your act does not bind you to me," and she withdrew her hand from mine and turned away.
		        </p>
		        <p>
		            I tried to convince her that I was sincere, but she simply couldn't forget the 
		            humiliation that I had put upon her on that other occasion.
		        </p>
		        <p>
		            "If you mean all that you say you will have ample chance to prove it," she said, 
		            "if Jubal does not catch and kill you.  I am in your power, and the treatment you accord me will be 
		            the best proof of your intentions toward me.  I am not your mate, and again I tell you that I hate you, 
		            and that I should be glad if I never saw you again."
		        </p>
		    </div>
		
		    <div class="info">
		        Posted by <a href="#">Stanko</a> in <a href="#">Frontend</a>, <a href="#">Javascript</a> | <a href="#">Edit</a> | <a href="#">Reply</a>
		    </div>
		
		</div>
		<div class="message even">
		    <div class="title">
		        <a href="#"><img src="/images/stanko.png"/></a>
		        <h3>Re: That's what she said</h3>
		        <div class="date">13. January 2011. 12:05</div>
		    </div>
		    <div class="message-text">
		        <p>
		
		            "If you mean all that you say you will have ample chance to prove it," she said, 
		            "if Jubal does not catch and kill you.  I am in your power, and the treatment you accord me will be 
		            the best proof of your intentions toward me.  I am not your mate, and again I tell you that I hate you, 
		            and that I should be glad if I never saw you again."
		        </p>
		    </div>
		    <div class="info">
		        Posted by <a href="#">Sale</a> | <a href="#">Reply</a>
		    </div>
		</div>
	</div>
	
	<div id="taskTimeLog">
		TIME LOG
	</div>
</div>

