<!---------- FOOTER ---------->
<div id="footer">
        Teamate is an open-source project managment system application.<br/>
        Developed by the MFH team for the own needs.<br/>
        2010. - <%= DateTime.now.strftime('%Y') %>. MFH inc
</div>
