<!---------- HEADER ---------->
<div id="header">
    <div class="container_12">
        <h1 class="grid_4"><%= image_tag("logo.png", :alt => "Teamate") %></h1>

        <!---------- USER MENU ---------->
        <div id="user-menu" class="grid_8">
            Welcome User | <a href="#">Logout</a>
        </div>
    
        <!---------- MENU ---------->
        <ul id="menu" class="grid_8">
            <li><a href="/" class="home-menu">Home</a></li>
            <li><a href="/messages" class="messages-menu">Messages</a></li>
            <li><a href="/milestones class="milestones-menu">Milestones</a></li>
            <li><a href="/todos" class="todos-menu">To-dos</a></li>
            <li><a href="/timetracking" class="milestones-menu">Timetracking</a></li>
            <li><a href="/links" class="links-menu">Links</a></li>
        </ul>
    </div>
</div>
