<div class="topbar">
    <div class="fill">
        <div class="container">
            <img src="img/logo.png" alt=""/>
            <a class="brand" href="#">TeaMate</a>
            <ul class="nav" id="menu">
                <li><a href="links" class="links-menu">Links</a></li>
                <li><a href="timetrackings" class="time-menu">Timetracking</a></li>
                <li><a href="todos" class="todos-menu">To-dos</a></li>
                <li><a href="milestones" class="milestones-menu">Milestones</a></li>
                <li><a href="messages" class="messages-menu">Messages</a></li>
                <li><a href="home" class="home-menu">Home</a></li>
            </ul>
            <form action="" class="pull-right">
                <input class="input-small" type="text" placeholder="Email">
                <input class="input-small" type="password" placeholder="Password">
                <button class="btn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>