<h3>Main menu</h3>
<ul>
    <li class="home-menu"><a href="index.php">Home</a>
        <span class="toggle-submenu"></span>
        <ul>
            <li><a href="#">Profile</a></li>
        </ul>
    </li>
    <li class="messages-menu"><a href="messages.php">Messages</a>
        <span class="toggle-submenu"></span>
        <ul>
            <li><a href="#">New message</a></li>

            <li><a href="#">All messages</a></li>
        </ul>
    </li>
    <li class="todos-menu"><a href="todos.php">To-dos</a>
        <span class="toggle-submenu"></span>
        <ul>
            <li><a href="#">New to-do</a></li>

            <li><a href="#">All to-dos</a></li>
        </ul>
    </li>
    <li class="milestones-menu"><a href="milestones.php">Milestones</a>
        <span class="toggle-submenu"></span>
        <ul>
            <li><a href="#">New milestone</a></li>

            <li><a href="#">All milestones</a></li>
        </ul>
    </li>
    <li class="links-menu"><a href="links.php">Timetrack</a><span class="toggle-submenu"></span></li>
    <li class="links-menu"><a href="links.php">Links</a>
        <span class="toggle-submenu"></span>
        <ul>
            <li><a href="#">New link</a></li>

            <li><a href="#">Newest</a></li>
            <li><a href="#">Top rated</a></li>
        </ul>
    </li>
</ul>